.hoverButton {
  position: relative;
  z-index: 1;
  padding: 10px 49px;
  border: 2px solid #4890ff;
  border-radius: 5px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.hoverButton > :last-child {
  margin-left: 10px;
}

.hoverButton:hover {
  transition: all 1s;
  -webkit-box-shadow: 0px 20px 40px -10px rgb(23 115 246 / 40%);
  box-shadow: 0px 20px 40px -10px rgb(23 115 246 / 40%);
}
