.header {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .card {
    gap: 1rem;
  }
}
@media (max-width: 760px) {
  .card {
    grid-template-columns: 1fr;
    gap: 3.5rem;
  }
}
