.roadmapCard_wrapper {
  padding-left: 130px;
  padding-bottom: 100px;
  position: relative;
}

.roadmapCard_wrapper:last-child::before {
  display: none;
}

.roadmapCard_wrapper::before {
  content: "";
  position: absolute;
  background-image: url(../../../assets/images/line.svg);
  background-repeat: repeat-y;
  background-size: cover;
  z-index: -1;
  left: 36px;
  top: 30px;
  width: 8px;
  height: 100%;
}

.roadmapCard {
  display: flex;
  position: relative;
}

.roadmapCard::after {
  content: "";
  position: absolute;
  left: -130px;
  top: -8px;
  width: 82px;
  height: 82px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../assets/images/disc.svg);
}

.roadmapCardIndex {
  margin-right: 28px;
  font-size: 94px;
  line-height: 0.7;
  color: #fafcff;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .roadmapCardIndex {
    font-size: 80px;
  }

  .roadmapCard_wrapper {
    padding-left: 100px;
    padding-bottom: 60px;
  }

  .roadmapCard::after {
    left: -90px;
    width: 62px;
    height: 62px;
  }
}

@media (max-width: 760px) {
  .roadmapCardIndex {
    font-size: 70px;
    margin-right: 1.2rem;
  }
  .roadmapCard_wrapper {
    padding-left: 85px;
    padding-bottom: 30px;
  }
  .roadmapCard::after {
    left: -70px;
    width: 52px;
    height: 52px;
  }
}

@media (max-width: 450px) {
  .roadmapCardIndex {
    font-size: 60px;
    margin-right: 1.2rem;
  }
  .roadmapCard > div:last-child > :last-child {
    font-size: 13px;
    font-weight: 400;
  }

  .roadmapCard_wrapper {
    padding-bottom: 20px;
  }

  .roadmapCard::after {
    left: -65px;
    width: 42px;
    height: 42px;
  }
}
